body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  background-color: black;
  color: white;
  padding: 1em;
  border-bottom: 4px solid #ff5e00
}
.container-register-winner{
  max-width: 530px;
  display: block;
  margin: 4em auto;
  align-content: center;
  
}
.all-moves {
  display: flex;
  margin: 1em auto;
  max-width: 900px;
  justify-content: center;
}
.all-moves .move {
  background: #9C27B0;
  border: 1px solid #9628a9;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
  margin: 3px;
  padding: 1em;
  width: 140px;
}
.all-moves .move:hover {
  background: #50125a;
  border-color: #580067;
  font-weight: 800;
  cursor: pointer;
}
.turn-player-one,
.turn-player-two {
  padding: 3em;
} 
.turn-player-one {
  background: url('./assets/bg-p1.png') repeat-x;
}
.turn-player-two {
  background: url('./assets/bg-p2.png') repeat-x;
}
.your-arm{
  max-width: 500px;
  min-height: 19px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
  color: #484848;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.send-attack-zone{
  display: block;
  max-width: 430px;
  margin: auto;
}
.ui.orange.button.btn-turn {
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  display: block;
  margin: 1em auto; 
}
.score {
  max-width: 600px;
  display: flex;
  margin: 2em auto;
  justify-content: center;
}
.score strong {
  font-size: 1.2em;
}
.score .p1-score {
  background-color: #b1dffc;
  border-radius: 10px 0 0 10px;
}
.score .p2-score {
  background-color: #ffcbc4;
  border-radius: 0px 10px 10px 0;
}
.score .p1-score, 
.score .p2-score {
  text-align: center;
  padding: 0.8em 1.3em;
  border: 1px solid #e8e8e8;
}
.score .p1-score p, 
.score .p2-score p {
  font-size: 3em;
  margin-bottom: 5px;
}
.score .p1-score p {
  color: #15921b;
}
.score .p2-score p {
  color: #ad0000;
}
.winner .return-new-players {
  padding: 0.7em 3em;
  border: 1px solid #08b115;
  border-radius: 10px;
  margin: 1em auto;
  max-width: 180px;
  text-align: center;
  font-weight: 800;
  background-color: #12c720;
  color: #fff;
}
.winner.return-new-players:hover {
  background: #ad0000;
}